<table class="table">
    <thead class="thead-default">
    <tr>
        <th>Name</th>
        <th>Nationality</th>
        <th>Wikipedia</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
        <tr>
            <td><a href="constructors/{{constructorId}}">{{name}}</a></td>
            <td>{{nationality}}</td>
            <td><a href="{{url}}">Wiki</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
